<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>關於我們</title>

    <!-- bs -->
    <link rel="stylesheet" href="./css/bootstrap.css">
    <script src="../js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="../css/navbar.css">

    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../js/jQuery-3.6.3.min.js"></script>

    <link href="../css/about.css" rel="stylesheet" type="text/css">

    <style>
    </style>

</head>

<body>
    <div id="appendnav"></div>

    <!-- 首圖 -->
    <div style="text-align: left; overflow: hidden;">
        <img src="../img/index/head_about.jpg"
            style="object-fit:none ;text-align: left; width: 100%; height: 300px; border-radius: 0 300px 0 0; display: inline-block;">
    </div>
    <div class="container">
        <!-- 企業介紹 -->
        <div class="container" style="margin: 0px  0; text-align: center;">
            <div class="c">
                Vitality Gym 健身房 品牌故事</div>

            <!-- 名人介紹 -->

        </div>
        <!-- 成立介紹 -->
        <div style="text-align: center; height: 460px; background-color: #ffffff;
                border-bottom: #fdb58c 10px solid;border-radius:12px;">

            <pre>


Vitality Gym 健身房企業成立於2012年，現在已經擁有三間分店，
為超過3000名會員提供了優質的健身和運動體驗。
這家健身房企業的宗旨是為客戶提供全面的健身設施和個人化的健身計劃，
實現健康和身材目標。

健身房的設施非常完善，包括有氧設備、力量設備、自由重量區、瑜伽室、有氧舞蹈室等。所有設施都經過精心設計，以滿足不同的健身需求。
此外，健身房還提供了專業的健身培訓師，根據客戶的目標和需求制定個人化的健身計劃和營養建議，幫助客戶更好地達到健康和身材目標。

Vitality Gym 還有一個非常活躍的社群，通過在社交媒體上分享健身知識和資訊，建立會員之間的互動和交流。
社群會不定期舉辦各種活動，例如健身比賽、健身派對等，讓會員在健身的同時，也能感受到社交的樂趣。

Vitality Gym 為會員提供了全面的健身體驗，包括設施、教練、課程和社區。
無論你是健身新手還是健身達人，Vitality Gym 能成為你實現健康目標的理想選擇。</pre>

            <!-- <img style="height: 100px;" src="../img/logo/Vitality Gym Logo_5.jpg"> -->
            <img style="height: 100px;" src="../img/logo/Vitality Gym Logo2_2_工作區域 1.png">
        </div>

        <!--時間軸-->
        <style>
            .timebody {
                background-color: #f0595900;
                min-height: 100vh;
                margin: 0;

                /* &:before {
                        content: '';
                        position: fixed;
                        top: 0px;
                        left: 50%;
                        bottom: 0px;
                        transform: translateX(-50%);
                        width: 4px;
                        height: 500px;
                        background-color: #fff; */
            }

            .entries {
                width: calc(100% - 80px);
                max-width: 800px;
                margin: auto;
                position: relative;
                left: -5px;

                .entry {
                    width: calc(50% - 80px);
                    float: left;
                    padding: 20px;
                    clear: both;
                    text-align: right;

                    &:not(:first-child) {
                        margin-top: -60px;
                    }

                    .title {
                        font-size: 32px;
                        margin-bottom: 12px;
                        position: relative;
                        color: #fdb58c;

                        &:before {
                            content: '';
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            border: 4px solid #ffffff;
                            background-color: #fdb58c;
                            border-radius: 100%;
                            top: 50%;
                            transform: translateY(-50%);
                            right: -73px;
                            z-index: 1000;
                        }

                        &.big:before {
                            width: 24px;
                            height: 24px;
                            transform: translate(8px, -50%);
                        }
                    }

                    .body {
                        color: #aaa;

                        /* p {
                                    line-height: 1.4rem;
                                } */
                    }

                    &:nth-child(2n) {
                        text-align: left;
                        float: right;

                        .title {
                            &:before {
                                left: -63px;
                            }

                            &.big:before {
                                transform: translate(-8px, -50%);
                            }
                        }
                    }
                }
            }
        </style>
        <div class=" timebody" style="padding-top: 30px;">
            <!-- 直線 -->
            <div style="position: absolute;
                        top: 1040px;
                        left: 50%;
                        bottom: 0px;
                        transform: translateX(-50%);
                        width: 4px;
                        height: 1010px;
                        background-color: #ffffff;">

            </div>
            <div class="entries ">
                <div class="entry">
                    <div class="title">2012 成立</div>
                    <div class="body">
                        <p>2012年成立的Vitality Gym 是一家充滿活力和熱情的健身房企業。自成立以來，他們致力於為會員提供全面的健身體驗和優質的服務。
                            Vitality Gym的成立是為了回應日益增長的健身需求和健康生活方式的興起。他們意識到人們對於身體健康和健身目標的追求，並希望創建一個獨特的場所，能夠滿足這些需求並提供積極的健身環境。</p>
                    </div>
                </div>
                <div class="entry">
                    <div class="title">2015 第二家分店</div>
                    <div class="body">
                        <p>在2015年，Vitality Gym 迎來了他們擴張計劃的重要里程碑，成功地開設了第二家分店。這個新的分店是對他們在健身行業取得成功的進一步肯定，也是滿足不斷增長的健身需求的重要舉措。

                            第二家分店延續了Vitality Gym 的核心價值觀和承諾，為會員提供全面的健身體驗。與初始分店一樣，這個新的場所也配備了先進的設施和現代化的健身器材，以確保會員能夠進行高效、安全和舒適的鍛煉。</p>
                    </div>
                </div>
                <div class="entry">
                    <div class="title big">2018 企業聯盟</div>
                    <div class="body">
                        <p>2018年，Vitality Gym 開展了一項重要的決定，建立了企業聯盟計劃。這個計劃旨在與企業合作，提供健身和健康促進的解決方案，同時為企業員工提供優惠和福利。

                            通過企業聯盟計劃，Vitality Gym 與不同規模和行業的企業建立了合作夥伴關係。這些合作夥伴將能夠為他們的員工提供綜合的健身福利，包括優惠會員資格、個人訓練、健康講座和活動等。</p>
                    </div>
                </div>
                <div class="entry">
                    <div class="title">2020 跨域合作</div>
                    <div class="body">
                        <p>跨域合作使Vitality Gym 能夠與健康機構和專家合作，提供更全面的健康促進服務。這包括營養指導、心理健康支持、健康評估和諮詢等。這種綜合性的健康支持能夠幫助會員在運動之外獲得更全面的健康管理，提高整體健康和幸福感。 </p>
                    </div>
                </div>
                <div class="entry">
                    <div class="title">2023 會員達數千</div>
                    <div class="body">
                        <p>截至2023年，Vitality Gym 的會員人數已經達到數千人的規模，這是對Vitality Gym 優質健身體驗的肯定成功的見證，同時也不斷提升和擴大業務。繼續致力於提供卓越的健身體驗，滿足會員們對健康和健身的需求。無論你是新加入的會員還是忠實的長期會員，Vitality Gym 都致力於幫助你實現個人的健身目標並促進整體的身心健康。
                            </p>

                    </div>
                </div>


            </div>







        <!-- 三大理念 -->
        <div class="container" style="margin: 0px  0; text-align: center;
        ">
            <div class="c">
                Vitality Gym 健身房 三大理念</div>

        </div>
        <div class=" container   ">
            <div class=" row " style=" ">
                <div class="col-md-4 d-flex justify-content-center cardh">
                    <div class="card" style="width: 18rem; border: #ffffff;">

                        <div class="card-body">
                            <strong
                                style="height: 50px; padding: 20px; background-color: #fdb58c;color: #ffffff;">專業</strong>
                            <pre class="card-text">




       用跳脫框架的思維邏輯，
         不害怕嘗試新事物，
    對改變和機會保持開放性思維。
</pre>
                        </div>
                        <img style="height: 220px;object-fit: cover;" src="../img/index/home (2).JPG"
                            class="card-img-top" alt="...">
                    </div>
                </div>

                <div class="col-md-4 d-flex justify-content-center cardh">
                    <div class="card" style="width: 18rem; border: #ffffff;">

                        <div class="card-body">
                            <strong
                                style="height: 50px; padding: 20px; background-color: #fdb58c;color: #ffffff;">細節</strong>
                            <pre class="card-text">



           所有的執行
      都應該以願景為出發點，
         你做的每件事情
    都是為了讓客戶有更棒的體驗。


</pre>
                        </div>
                        <img style="height: 220px;object-fit: cover;" src="../img/member/setting_4.jpg"
                            class="card-img-top" alt="...">
                    </div>
                </div>


                <div class="col-md-4 d-flex justify-content-center cardh">
                    <div class="card" style="width: 18rem; border: #ffffff;">

                        <div class="card-body">
                            <strong
                                style="height: 50px; padding: 20px; background-color: #fdb58c;color: #ffffff;">責任</strong>
                            <pre class="card-text">



        理解，在每個情況下
           清楚的分辨問題，
             擔當責任，
           為了團隊更好
       願意當個解決問題的人。

</pre>
                        </div>
                        <img style="height: 220px;object-fit: cover;" src="../img/index/home (4).JPG"
                            class="card-img-top" alt="...">
                    </div>
                </div>



            </div>

        </div>


        <!-- 分館介紹 -->
        <div class="container" style="margin: 100px 0 0 0; text-align: center;
        padding: 10px;">
            <div class="c">
                分館介紹</div>
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample" >
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                        style="background-color: #4e487100;color: #000000;">

                        <div class="row  justify-content:center " style="background-color: #cc343400;
                                    padding: 0 5%;border-left: #fdb68c solid 5px;">

                            <div class="col-md"
                                style="background-color: rgb(255, 255, 255);padding: 3% 0 3% 0;height: 200px;">
                                <br>
                                <legend>■ 北部地區

                                    台北旗艦店 </legend><br><br>

                                <label>營業時間：8:00-23:00</label>
                                <br>
                                <label>聯絡電話：02-6602-8899</label>
                                <br>
                                <label>E-mail : two159@gmail.com</label>
                                <br><br>
                                <label>地址：台北市松山區民權東路三段170號1樓
                                    (附設免費貴賓停車位)</label>
                                <br>
                            </div>

                            <div class="col-md-4 position-absolute bottom-3% end-0 "
                                style="background-color:rgba(0, 255, 255, 0) ; ">

                                <img style="height: 200px;width: 335px; object-fit:cover;border: #fdb68c 10px solid;"
                                    src="../img/member/setting_6.jpg" />
                            </div>

                        </div>
                    </button>

                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">

                    <div class="accordion-body">

                        <div class="row  justify-content:center " style="background-color: #ca717100;
                                    padding: 0 15% 30px 15%;">

                            <div class="col-md-6" style="background-color: rgb(255, 255, 255);padding: 3%;">
                                <img style="height: 200px;width: 300px; object-fit:cover;border: #fdb68c 10px solid;"
                                    src="../img/index/home (1).JPG" />
                            </div>

                            <div class="col-md-6" style="background-color:rgb(255, 255, 255) ;">
                                <pre>




課程都由專業的教練授課，
他們會根據學員的能力和需求，制定適合的課程，
讓學員在享受運動的樂趣的同時，也能有效地達到健身目標。
                                            </pre>

                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d175137.3501365562!2d121.27135486540583!3d23.718232984868596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-TW!2stw!4v1676874357231!5m2!1szh-TW!2stw"
                                width="25%" height="120" style="border:0; background-color: #ffffff;" allowfullscreen=""
                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                            </button>

                        </div>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"
                        style="background-color: #ffffff;color: #000000;">
                        <div class="row  justify-content:center " style="background-color: #ba7f7f00;
                                    padding: 0 5%;border-left: #fdb68c solid 5px;">

                            <div class="col-md"
                                style="background-color: rgb(255, 255, 255);padding: 3% 0 3% 0;height: 200px;">
                                <br>
                                <legend>■ 中部地區

                                    台中文心店 </legend><br><br>

                                <label>營業時間：8:00-23:00</label>
                                <br>
                                <label>聯絡電話：04-2315-7588</label>
                                <br>
                                <label>E-mail : two159@gmail.com</label>
                                <br><br>
                                <label>地址：台中市西屯路文心路三段100-3號
                                    (附設免費貴賓停車位)</label>
                                <br>
                            </div>

                            <div class="col-md-4 position-absolute bottom-3% end-0 "
                                style="background-color:rgba(0, 255, 255, 0) ; ">

                                <img style="height: 200px;width: 335px; object-fit:cover;border: #fdb68c 10px solid;"
                                    src="../img/member/setting_1.jpg" />
                            </div>

                        </div>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row  justify-content:center " style="background-color: #ca717100;
                                padding: 0 15% 30px 15%;">

                            <div class="col-md-6" style="background-color: rgb(255, 255, 255);padding: 3%;">
                                <img style="height: 200px;width: 300px; object-fit:cover;border: #fdb68c 10px solid;"
                                    src="../img/index/home (2).JPG" />
                            </div>

                            <div class="col-md-6" style="background-color:rgb(255, 255, 255) ;">
                                <pre>




課程都由專業的教練授課，
他們會根據學員的能力和需求，制定適合的課程，
讓學員在享受運動的樂趣的同時，也能有效地達到健身目標。
                                        </pre>

                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d175137.3501365562!2d121.27135486540583!3d23.718232984868596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-TW!2stw!4v1676874357231!5m2!1szh-TW!2stw"
                                width="25%" height="120" style="border:0; background-color: #ffffff;" allowfullscreen=""
                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                            </button>

                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree" style="background-color: #ffffff;color: #000000;">
                            <div class="row  justify-content:center " style="background-color: #ba7f7f00;
                                    padding: 0 5%;border-left: #fdb68c solid 5px;">

                                <div class="col-md"
                                    style="background-color: rgb(255, 255, 255);padding: 3% 0 3% 0;height: 200px;">
                                    <br>
                                    <legend>■ 南部地區 高雄草衙道SKM Park Outlets 2F</legend><br><br>
                                    <label>營業時間：8:00-23:00</label>
                                    <br>
                                    <label>聯絡電話：07-791-3218</label>
                                    <br>
                                    <label>E-mail : two159@gmail.com</label>
                                    <br><br>
                                    <label>地址：高雄市前鎮區中安路1-1號（大道東2F） (附設免費貴賓停車位)</label>
                                    <br>
                                </div>

                                <div class="col-md-4 position-absolute bottom-3% end-0 "
                                    style="background-color:rgba(0, 255, 255, 0) ; ">

                                    <img style="height: 200px; object-fit:cover;border: #fdb68c 10px solid;"
                                        src="../img/index/3.png" />
                                </div>

                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row  justify-content:center " style="background-color: #ca717100;
                                    padding: 0 15% 30px 15%;">

                                <div class="col-md-6" style="background-color: rgb(255, 255, 255);padding: 3%;">
                                    <img style="height: 200px;width: 300px; object-fit:cover;border: #fdb68c 10px solid;"
                                        src="../img/index/5.png" />
                                </div>

                                <div class="col-md-6" style="background-color:rgb(255, 255, 255) ;">
                                    <pre>




課程都由專業的教練授課，
他們會根據學員的能力和需求，制定適合的課程，
讓學員在享受運動的樂趣的同時，也能有效地達到健身目標。
                                            </pre>

                                </div>

                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d175137.3501365562!2d121.27135486540583!3d23.718231236548596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-TW!2stw!4v1676874357231!5m2!1szh-TW!2stw"
                                    width="1%" height="120" style="border:0; background-color: #ffffff;"
                                    allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>

                                </button>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>



        <!-- 常見問題-->
        <div class="container" style="margin: 100px 0 0 0; text-align: center;
                     padding: 10px;">
            <div class="c">
                常見問題</div>
        </div>

        <div class="accordion accordion-flush" id="question">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-one" aria-expanded="false" aria-controls="question-one">
                        Q1. 請問方案及價格?
                    </button>
                </h2>
                <div id="question-one" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#question">
                    <div class="accordion-body">我們分為兩種收費方式 (差別在於可以來上課的時間頻率)<br>

                        1.堂數方案：<br>
                        課程單堂最便宜只要70元／堂，滿額還送贈品！所有課程都可以上課，包括有氧舞蹈、瑜珈、拳擊有氧等等課程，堂數方案不限本人使用。
                        <br>
                        2.會員方案 【適合頻繁使用者】：<br>
                        無綁約、不限課程、不限時段，運動課程瑜珈、曲線、拳擊有氧任您選擇！會員方案限本人使用。<br>

                        <a style="color: #fdb68c;" href="">了解詳情</a>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-two" aria-expanded="false" aria-controls="question-two">
                        Q2. 堂數過期怎麼辦？
                    </button>
                </h2>
                <div id="question-two" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#question">
                    <div class="accordion-body">過期堂數提供兩個選擇：
                        <br>
                        1. 補價差，票期1年（例：剩餘3格，每個40元，$40*3=$120）<br>
                        2. 購新票免費延期（視您購買的堂數，效期優惠皆有不同）
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-three" aria-expanded="false"
                            aria-controls="question-three">
                            Q3. 堂數方案可跨館使用嗎？
                        </button>
                    </h2>
                    <div id="question-three" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#question">
                        <div class="accordion-body">可以唷！ </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                Q4. 平常沒運動習慣，怎麼選擇適合自己的課程？
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFour" data-bs-parent="#question">
                            <div class="accordion-body">可參考官網的課程介紹，<br>分別有：有氧 / 瑜珈 / 舞蹈<br>
                                我們的課程有低衝擊有氧、混和衝擊有氧、高衝擊有氧和瑜珈，<br>可參考1~5顆星及難易度標記。</div>
                        </div>
                    </div>

                </div>

            </div>

        </div>



        <!-- 聯絡我們 -->
        <div class="container">
            <div class="container" style="margin: 30px  0; text-align: center;
            padding: 100px;">
                <div class="c">
                    聯絡我們</div>

                <div class="container "
                    style="background-color: #ffffff; height: 600px;border-bottom: #ffe4c4 10px solid;">
                    <div class=" row  align-items-center ">

                        <form>
                            <!-- action="提交" method="HTTP方法" -->
                            <fieldset>
                                <div style="margin:50px;">
                                    <pre>
我們希望聽到您的意見
任何的問題、建議以及企業合作都歡迎告訴我們。
請填寫以下表格，我們將會以最快的速度回應給您，謝謝。</pre>
                                </div>
                                <div class="container" style="padding: 0 15%;">

                                    <div class="row">
                                        <div class=" col-md-4"><input name="Name" type="text" id="userName"
                                                placeholder="名稱*" required minlength="2" />
                                        </div>
                                        <div class=" col-md-8"><input type="tel" id="userPhone" placeholder="電話*"
                                                oninvalid="setCustomValidity('請輸手機號碼')" required />
                                        </div>
                                    </div>

                                    <div class="col-md-12"><input type="email" id="userEmail" name="email"
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="電子郵件*"
                                            required />
                                    </div>
                                    <input class=" " type="text" id="usertext" style="height:150px" placeholder="留言*"
                                        required />
                                </div>
                            </fieldset>
                            <button type="submit" id="show" style="margin-top:10px ;height: 33px;width: 80px; background-color: #FDB68C;color: rgb(255, 255, 255); 
                    font: size 22px ;border-radius: 12px;border: #ffffff00; ">送出</button>


                            <dialog id="infoModal">
                                <p>感謝您的回覆 ! </p>
                                <button id="close" style="margin-top:10px ;height: 33px;width: 80px; background-color: #ff8855f0;color: rgb(255, 255, 255); 
                                font: size 22px ;border-radius: 12px;border: #ffffff00; ">關閉</button>
                            </dialog>

                        </form>

                    </div>
                </div>
            </div>
        <!-- footer -->
        <div class="b-example-divider"></div>
        <footer></footer>
        <script>
            var token ="<%= token%>"
            var user_name =<%- JSON.stringify(user_name) %>
        </script>
        <script src="../js/appendnav.js"></script>
        <script src="../js/appendfooter.js"></script>
        <script>

        </script>
</body>

</html>