.dropdown {
    position: relative;
    display: inline-block;
  }
 
/* 按鈕 熱門程度 價錢高到低 */
.dropbtnOrder{
    width: 150px;
    background: url(../../img/shop/logo_arrow.png) no-repeat 95% center;
    background-color: white;
    border-radius: 3px;
    border: none;   
    color: #003b64;
    cursor: pointer; 
    font-size: 18px;   
    line-height: 1.15385;
    margin: 0px;
    outline: none;
    padding: 10px;
    position: relative;
    text-align: center;    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 150px;   
    z-index: 1;
    top: 30px;
    right: 0%;    
}

.dropdown-content button {
    color: #003b64;
    padding: 10px;
    text-decoration: none;
    display: block;
    width: 100%;
    border-radius: 0%;
    border: none;
    background-color: white;
    text-align: start;
    /* float: none; */
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.show {
    display: block;
    
}
