#popup {    
    width: 500px;
    height: 100%;
    background-color: white;
    padding: 15px;
    transition: right 0.5s;
    position: fixed; 
    right: -550px; 
    top: 90px; 
    z-index: 100;
    margin: 10px;
    box-shadow: 0 5px 5px 0 black;
    border-right: 4px #ec9059 solid;
}

.pop table {
    width: 100%;
    height: 100%;
    
}

.pop img {
    width: 50px;
    height: 50px;
}

.closureBtn {
    float: right;
}

.test {    
    overflow-y: scroll;
    /* height: 80%;  */
    
}

.collected:hover {
    background-color: lightblue;
}

.collected img:hover {
    transform: scale(1.2);
    border: 1px solid lightcoral;
    border-radius: 10px;
    cursor: pointer;
}