.venueAndCollect {
 /* background-color: blueviolet; */
 margin-left: 10px;
 width: 140px;
}
.venue {
    display: flex;  
    height: 45px;     
    padding: 10px;
    width: 100%;   
   
}

.venue option:nth-child(1) {
    display: none;
}

.venue option {
    height: 40px;
    border-radius: 10px;
}



.collect {
   border: none;
   background-color: transparent;

}
.liked{
    border: none;
   background-color: transparent;
}